@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #232323;
    background-image: linear-gradient(300deg, #232323 0%, #606D72 203%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
.submitButton{
    background-color:black;
    color:whitesmoke
}
a{
    text-decoration:none;
    color:white
}

.avatar {
    
    border: 10px solid #232323;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
input {
    background-color: #7D5F55;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

input::placeholder {
    color: #bbb;
}

input:focus {
    outline: none;
}

.card {
    background-color: #606D72;
    /* background-image: linear-gradient(315deg, #4c2885 0%, #4c11ac 100%); */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    max-width: 800px;
}

@media only screen and (max-width: 600px) {
     .card{
      flex-wrap:wrap;
      border-radius: 0px;
    }
    
  }
